@keyframes imageload 
	0% 
		opacity: 0 
		transform: scale(0.3) rotateY(90deg)  
	50% 
		transform: scale(1.03)   
	70% 
		opacity: 1
	100%
		opacity: 1 

@keyframes formIn 
	0% 
		opacity: 1 
	50% 
		opacity: 0.5 
	99% 
		opacity: 0 
	100% 
		display: none 

@keyframes formOut 
	0% 
		opacity: 0 
	1% 
		display: block 
	50% 
		opacity: 0.5 
	100% 
		opacity: 1  
@keyframes launch
  0%
    opacity: 1
    transform: translate(0) scale(1)

  10%, 15%
    transform: translate(0) scale(0.5)

  30%, 35%
    transform: translate(0, -20) scale(0.5)

  40%, 70%
    transform: translate(0, -100vh) scale(0.5)

  70%
    opacity: 1

  71%, 100% 
  	opacity: 0 

@keyframes fadeIn 
	0% 
		opacity: 0  
	50% 
		opacity: 0.5 
	75% 
		opacity: 1 
	100% 
		opacity: 1 

@include mobile  
	@keyframes mobileMenu  
		0% 
			opacity: 0 
			transform: rotateY(-90deg) translateY(30px)
		100% 
			opacity: 1 
		