#login-outer 
	width: 40%  
	margin: 0 auto  
	margin-top: 10% 
	margin-bottom: 10% 

.circle 
	width: 150px 
	height: 150px 
	border-radius: 50% 
	background: rgba($grey, 0.9) 
	margin: 0 auto 
	text-align: center 
	margin-bottom: -12% 
	position: relative

	img   
		vertical-align: middle !important 
		width: 100px  
		display: inline-block  
		margin-top: 20%

#form-box  
	border: 1px solid #fff  
	border-radius: 8px  
	box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52) 
	background: #fff
	form 
		width: 60% 
		margin: 0 auto  
		margin-top: 10%
		input 
			width: 100% 
			margin-top: 10%   
			font-size: 1.3rem 
			padding: 7px  
			outline: none 
			border: none 
			border-bottom: 0.1rem solid #F3F3F3 
			transition: 0.3s  
			background: none
			&:focus 
				border-bottom: 0.1rem solid $grey  
		button 
			width: 105% 
			text-align: center 
			font-size: 1.3rem 
			margin: 0 auto 
			padding: 10px 
			margin-bottom: 20% 
			border: none  
			border-radius: 0
			background: rgba($green, 0.8)  
			color: #fff   
			cursor: pointer  
			transition: 0.3s
			&:hover 
				background: $green 
	h2 
		text-align: center
		margin-top: 20% 
		position: relative 
		font-family: $light 
		color: $grey 
		font-size: 2rem 
	p 
		text-align: center 
		margin-bottom: 10%  
		width: 60% 
		margin: 0 auto 
		color: $light-grey 
		font-style: italic

.last-input  
	margin-bottom: 5% !important  

.login-button 
	margin-top: 10% 
	margin-bottom: 20% !important
	button 
		margin-bottom: 0 !important

.error-message  
	margin-top: 10px  
	display: block 
	color: red 
	padding-left: 7px !important 

#site-nav 
	text-align: right   
	ul 
		padding: 0 
		padding-right: 5% 
		margin: 0 
	li 
		list-style-type: none  
		display: inline-block 
		padding-right: 25px 
		font-size: 1.3rem 
		padding-top: 5px 
		padding-bottom: 5px
	a 
		color: $grey 
		text-decoration: none 
		 

#addp  
	width: 80% 
	margin: 0 auto  
	h1	
		color: $grey 
		font-family: $light
	form 	
		width: 90% 
		margin: 0 auto
		margin-bottom: 5%  
		input 
			width: 90%  
			display: block
			margin-top: 10%   
			font-size: 1.3rem 
			padding: 7px 
			border-radius: none !important  
			outline: none 
			border: none 
			border-bottom: 0.1rem solid #F3F3F3 
			transition: 0.3s  
			background: none 
			&:focus 
				border-bottom: 0.1rem solid $grey   
		select 
			width: 95%  
			font-size: 1.3rem  
			border: none 
			border-bottom: 0.1rem solid #F3F3F3
			background: none  
			border-radius: 0 
			height: 35px 
			padding: 7px
			vertical-align: bottom
			margin-bottom: -2.5%   
			outline: none
			option 
				color: #F3F3F3

.form-textarea 
	width: 100%  
	display: block !important
	textarea
		display: block  
		margin-top: 5% 
		font-size: 1.3rem 
		padding: 7px 
		border-radius: none  
		outline: none  
		border: none 
		border-bottom: 0.1rem solid #F3F3F3 
		transition: 0.1s  
		background: none  
		width: 95%  
		overflow: hidden  
		position: static
		resize: none 
		height: 200px !important
		&:focus  
			border-bottom: 0.1rem solid $grey  

.form-input 
	width: 49%  
	display: inline-block   

input
  &:focus ~ .floating-label, &:not(:focus):valid ~ .floating-label
    margin-top: -60px
    margin-bottom: 10px
    // margin-left: 8px
    font-size: 1rem 
    color: $grey
    opacity: 1 

textarea
  &:focus ~ .floating-label, &:not(:focus):valid ~ .floating-label
    margin-top: -232px 
    margin-bottom: 10px
    font-size: 1rem 
    color: $grey
    opacity: 1 
    position: absolute 


.inputText
  font-size: 14px
  width: 200px
  height: 35px 


.floating-label
  position: absolute
  pointer-events: none
  margin-left: 10px
  margin-top: -35px
  transition: 0.2s ease all 
  display: block 
  font-size: 1.3rem 
  color: #767676


.img-input 
	width: 49% 
	display: inline-block  
	margin-top: 3%
	input 
		margin-top: 2% !important 
	label  
		margin-top: 20px !important 
		padding-top: 20px
		position: static 

.form-button  
	padding-top: 5% 
	// width: 80% 
	margin: 0 auto
	button 
		width: 95% 
		text-align: center 
		font-size: 1.3rem 
		margin: 0 auto 
		padding: 10px  
		border: none  
		border-radius: 0
		background: rgba($green, 0.8)  
		color: #fff  
		cursor: pointer  
		transition: 0.3s
		&:hover 
			background: $green   

.invalid-msg 
	color: red !important 
	// font-style: italic 
	&:before 
		content: " " 

.select-error 
	background: rgba( #F06560, 0.5 ) !important








