.reset-form.is-sent  
	animation: launch 1.5s ease-in-out  
	opacity:  0  
.reset-form 
	position: static
.reset-success 
	text-align: center  
	margin-top: -9rem 
	position: relative 
	display: none 
	opacity: 0
	span
		font-size: 1.5rem  
		color: $light-grey 
		display: block
		&:nth-of-type(2) 
			font-size: 1rem 
			margin-top: 10px 
.reset-success-show  
	display: block !important 
	animation: fadeIn 1.5s ease-in-out 
	opacity: 1
#favourites  
	min-height: 100vh 
	max-height: 100vh 
	position: absolute  
	right: -30vw 
	display: none
	min-width: 30vw 
	z-index: 897656 
	background: #fff  
	transition: 0.3s 
	margin: 0 
	padding: 0  
#overlay  
	min-height: 100vh 
	max-height: 100vh 
	position: absolute  
	right: -30vw
	min-width: 30vw 
	z-index: 897655 
	margin: 0 
	padding: 0 
	transition: 0.3s 

.open-fav 
	right: 0 !important   
	display: block !important
.pause-page 
	position: fixed
	overflow-y: hidden !important   
.view  
	display: block !important 
	opacity: 1 !important
.remove 
	display: none 
.favempty 
	width: 100% 
	text-align: center  
	font-size: 1.8rem 
	font-style: italic 
	color: $light-grey 
	margin-top: 3rem 
.fav-title 
	background: #a1a1a1 
	color: #fff 
	margin: 0 
	padding: 10px 
	h4 
		margin: 0 
		padding: 0.01rem 
		font-size: 1.8rem 
		font-weight: normal 
		text-align: center  
	button 
		color: #fff 
		background: none 
		border: none 
		font-size: 1.8rem 
		vertical-align: center 
		float: right  

.buttons  
	position: absolute 
	bottom: 0 
	width: 100%
	button 
		border: none 
		width: 80% 
		padding: 0.8rem 
		text-align: center
		background: rgba( $turquoise, 0.9 ) 
		margin-bottom: 8px 
		margin-left: 10%
		font-size: 1.3rem 
		color: #fff  
		transition: 0.2s 
		cursor: pointer 
		&:hover 
			background: $turquoise  
	a 
		padding: 0.8rem 
		text-align: center 
		background: rgba($turquoise, 0.9) 
		margin-bottom: 10px !important 
		margin-left: 10% 
		width: 75.5% !important
		font-size: 1.3rem  
		color: #fff 
		transition: 0.2s 
		cursor: pointer 
		display: block  
		text-decoration: none
		&:hover  
			background: $turquoise

#favourites  
	form 
		input 
			width: 80%  
			margin-left: 10%
			margin-top: 1.5rem   
			font-size: 1.3rem 
			padding: 7px  
			outline: none 
			border: none 
			border-bottom: 0.1rem solid #F3F3F3 
			transition: 0.3s  
			background: none
			&:focus 
				border-bottom: 0.1rem solid $grey 
	span 
		margin-left: 11% 

#login-form 
	display: none
	form
		button 
			border: none 
			width: 82.5% 
			padding: 0.8rem 
			text-align: center
			background: rgba( $turquoise, 0.9 ) 
			margin-top: 10px 
			margin-left: 10%
			font-size: 1.3rem 
			color: #fff  
			transition: 0.2s 
			cursor: pointer 
			&:hover 
				background: $turquoise  
.link-btn 
	background: none
	border: none
	color: $turquoise  
	cursor: pointer 
	outline: none 
	font-size: 1rem 
	text-align: center
	margin-top: 10px
	width: 100%
	&:hover  
		color: $turquoise 

#signup-form 
	display: none 
	form
		button 
			border: none 
			width: 82.5% 
			padding: 0.8rem 
			text-align: center
			background: rgba( $turquoise, 0.9 ) 
			margin-top: 10px 
			margin-left: 10%
			font-size: 1.3rem 
			color: #fff  
			transition: 0.2s 
			cursor: pointer 
			&:hover 
				background: $turquoise   
#passwordReset 
	display: none  

#account-form 
	display: none 
	form
		button 
			border: none 
			width: 20% 
			padding: 10px 
			text-align: center
			background: rgba( #428bca, 0.9 ) 
			margin-top: 20px 
			margin-left: 70%
			font-size: 1rem 
			color: #fff  
			transition: 0.2s 
			cursor: pointer 
			border-radius: 5px  
			&:hover 
				background: #428bca 
#changePwdTrig 
	background: none 
	border: none 
	font-size: 1.3rem  
	color: $light-grey  
	width: 100%
	margin-top: 20px 
	transition: 0.3s 
	&:hover  
		color: #428bca 
		cursor: pointer  

#elistSub
	background: none  
	border: none  
	font-size: 1.3rem   
	color: $light-grey   
	width: 100% 
	margin-top: 20px  
	transition: 0.3s  
	&:hover  
		color: #428bca  
		cursor: pointer  
#elistUn
	background: none  
	border: none  
	font-size: 1.3rem   
	color: $light-grey   
	width: 100% 
	margin-top: 20px  
	transition: 0.3s  
	&:hover  
		color: #428bca  
		cursor: pointer  

#delAccount 
	background: none 
	border: none 
	font-size: 1.3rem  
	color: $light-grey  
	transition: 0.3s  
	width: 100%
	margin-top: 20px 
	outline: none
	&:hover  
		color: #d9534f 
		cursor: pointer   
#delConfirm 
	opacity: 0 
	transition: 0.3s 
	background: rgba( #d9534f, 0.9 ) !important
	&:hover  
		background: #d9534f !important 
#delPinput 
	display: none 
.error 
	color: #d9534f !important

#changePasswords
	display: none
	form
		button 
			border: none 
			width: 20% 
			padding: 10px 
			text-align: center
			background: rgba( #428bca, 0.9 ) 
			margin-top: 20px 
			margin-left: 70%
			font-size: 1rem 
			color: #fff  
			transition: 0.2s 
			cursor: pointer 
			border-radius: 5px  
			&:hover 
				background: #428bca  
.input-message 
	margin-top: 10px !important 
	color: #d9534f 
	display: block 

input[type=checkbox]  
	width: 20px !important  
	padding: 0 
	margin: 0

#favourite-products-all
	width: 90% 
	margin: 0 auto 
	margin-top: 20px  
	max-height: 78vh  
	overflow-y: auto   

.fav-prod 
	border: 1px solid $light-grey
	margin: 15px 
	height: 150px 
	&:hover  
		cursor: pointer  
		button 
			opacity: 1
	a 
		text-decoration: none
	img 
		min-height: 100%
		max-height: 100%
		margin: 0 
		padding: 0 
	h5 
		vertical-align: top 
		margin-left: 0
		font-weight: 100 
		font-size: 1.5rem 
		color: $light-grey 
		padding-left: 1.5rem 
		padding-top: 1rem
		height: 1.5rem  
		margin-top: 1rem 
		display: inline-block 
		margin: 0 
		padding: 0 
		span 
			float: left  
			display: inline-block  

.favDel 
	float: right !important 
	margin: 0.3rem 
	border: none  
	background: none 
	font-size: 1rem 
	opacity: 0 
	transition: 0.2s  

#passwordReset 
	form 
		button  
			width: 82.3% 
			font-size: 1.3rem 
			color: #fff  
			background: rgba($turquoise, 0.9) 
			padding: 10px 
			margin-left: 10%   
			transition: 0.3s 
			margin-top: 1rem 
			margin-bottom: 0.5rem
			&:hover  
				background: $turquoise

@include desktop-sm  
	#favourites  
		right: -40vw 
		min-width: 40vw
		form 
			input 
				width: 80%  
				margin-left: 10%
				margin-top: 15px !important  
				font-size: 1rem 
				padding: 7px  
				outline: none 
				border: none 
				border-bottom: 0.1rem solid #F3F3F3 
				transition: 0.3s  
				background: none
				&:focus 
					border-bottom: 0.1rem solid $grey 
			p 
				width: 80%   
				margin: 0 auto
				font-size: 1rem   
				line-height: 150% 
				text-align: center
				input[type=checkbox]  
					margin-left: 0 !important  
	#favourite-products-all
		width: 90% 
		margin: 0 auto 
		margin-top: 20px  
		max-height: 74.5vh  
		overflow: scroll
@include navigation-desktop-sm 
	#favourites
		min-height: 100vh 
		max-height: 100vh 
		position: absolute  
		right: -50vw
		display: none
		min-width: 50vw 
		z-index: 897656 
		background: #fff  
		transition: 0.3s 
		margin: 0 
		padding: 0   
@include tablet 
	#favourites
		min-height: 100vh 
		max-height: 100vh 
		position: absolute  
		right: -70vw
		display: none
		min-width: 70vw 
		z-index: 897656 
		background: #fff  
		transition: 0.3s 
		margin: 0 
		padding: 0  
	#overlay 
		display: none
@include mobile 
	#favourites
		min-height: 100vh 
		max-height: 100vh 
		position: absolute  
		right: -100vw
		display: none
		min-width: 100vw !important 
		z-index: 897656 
		background: #fff  
		transition: 0.3s 
		margin: 0 
		padding: 0  
	.fav-prod 
		height: 100px 
		img 
			width: 100px  
	#overlay 
		display: none