#footer 
	background: $grey 
	color: #fff 
	border-top: solid $turquoise 2rem 
	font-family: $light  
	vertical-align: bottom 

.hf 
	margin-top: -0.35rem

.footer-inner 
	width: 90% 
	margin: 0 auto  
	padding-top: 1.5rem
	div	 
		width: calc( 98% / 3 )
		display: inline-block 
		vertical-align: top 

.side-text 
	-webkit-transform: scale(1) rotate(-90deg) translate(0px, 0px) 
	padding: 0  
	font-size: 1.3rem 
	font-family: $bold   
	max-width: 5rem  

.f-contact  
	padding-top: 0
	p 
		padding: 0 
		margin-left: -1.5rem 
		display: inline-block 
	div 
		margin-top: 2.1rem    
		display: inline-block 

.f-middle 
	text-align: center 
	img 
		padding-bottom: 0 
		margin-bottom: 0 
	p 
		margin-top: -0.1rem 

.f-managers 	   
	max-width: 20rem 
	float: right
	ol 
		list-style-type: none   
		margin-left: -0.7rem    
		display: inline-block  
		padding-left: -309rem 
		padding-left: 0 
	div 
		margin-top: 1.3rem
		display: inline-block 
		padding: 0  

.products-footer 
	margin-top: -0.38rem