$line: #ffffff 
$line-height: 5px 
$line-spacing: 25px 
$line-width: 50px 
$corners: 0px

.nav-icon 
	height: 30px 
	width: $line-width 
	position: relative  
	z-index: 100000 
	.span 
		height: $line-height 
		width: $line-width
		position: absolute 
		top: 0 
		bottom: 0 
		left: 0 
		right: 0 
		margin: auto 
		background: $line  
		border-radius: $corners 
		transition: all 0.3s
		&::before,&::after 
			height: $line-height 
			width: 100% 
			position: absolute
			background: $line 
			content: ""  
			border-radius: $corners 
			margin: auto 
			bottom: 0 
			left: 0 
			right: 0  
			transition: all 0.3s 
		&::after 
			top: $line-spacing  
		&::before 
			top: -$line-spacing 
	&.active .span::after 
		top: 0 
		transform: rotate(45deg) 
	&.active .span::before 
		top: 0 
		transform: rotate(-45deg) 
	&.active .span 
		background: none 
.menu-button
	background: none 
	border: none 
	cursor: pointer 
	outline: none 

// <button class="menu-button">
// 	<div id="hamburger-btn" class="nav-icon cross"> 
// 		<div class="span"></div>
// 	</div>
// </button>