$image-padding: 1.21em

nav	
	background: $grey  
	display: inline-block 
	width: 100%  
	
	a	
		color: #fff 
		text-decoration: none  
		padding: 1rem  
		font-weight: normal   

	li  
		list-style-type: none 
		@include desktop 
			display: inline-block
		@include tablet 
			display: inline-block

	ul  
		display: inline-block 
		float: right 
		margin-top: 4em 
		margin-right: 3em  
		position: static

	img 
		margin-left: -1em 
		padding: 0 

#menu 
	display: inline-block 
	float: right

.main-menu 	
	font-size: 1.5rem 
	font-weight: normal   
	position: static 
	font-family: $light

.more-items 
	display: none 

#drop-down 
	z-index: -1
	background: rgba($grey, 0.9) 
	width: 65%    
	position: absolute  
	left: 0  
	margin-left: 30%
	top: 5.1em   
	margin-top: -1rem 
	padding-bottom: 1rem    
	overflow-x: hidden 
	opacity: 1 !important 
	ul 	 
		float: left 
		width: 100%  
		padding: 0 
		margin: 0
#diamond-narrow
  width: 0
  height: 0
  border: 10px solid transparent
  border-bottom: 12px solid #fff
  position: relative
  top: -8px 
  display: inline-block !important 
  left: -12px
  &:after
    content: ''
    position: absolute
    left: -10px
    top: 12px
    width: 0
    height: 0
    border: 10px solid transparent
    border-top: 12px solid #fff

.line1 
	width: 100%  
	display: block  
	margin-left: 2% 
	ul 
		margin-top: 1px
	div	 
		width: calc( 100% / 4 )    
	
.line2
	width: 100% 
	display: block 
	margin-left: 2%
	ul 
		margin-top: 1px
	div	 
		width: calc( 100% / 4 )     

.nav-col 
	vertical-align: top
	display: inline-block 
	float: left 
	margin: 0

	li 
		display: block  
		font-size: 1rem 
		font-family: $light
	h4	
		font-family: $bold 
		font-weight: bold
		text-transform: uppercase 
		margin-bottom: 7px   
		font-size: 1.3rem  
 
 

@include desktop 
	.tablet-link 
		display: none

	.show-menu 
		opacity: 1 !important  
		transition: 0.3s 
		z-index: 99988 !important  
	.sub-list  
		display: none 
	.menu-button 
		display: none 

	nav 
		height: 7rem  
		img 
			height: 7rem  
	.search   
		position: absolute 
		margin-top: -4.5rem !important 
		float: right 
		right: 0 
		padding-right: 3.6rem
		input 
			width: 15rem 
			padding: 5px 
			font-size: 1.1rem 
			outline: none 
			border: none 
			color: #fff 
			background: rgba( #fff, 0.2 ) 
		button 
			background: none 
			outline: none 
			font-size: 1.5rem 
			border: none 
			position: absolute 
			margin-left: -2.1rem  
			cursor: pointer 
			color: #fff 


@include tablet 
	.desktop-link 
		display: none
	nav 
		height: 4rem 
		img 
			height: 4rem  
		a  
			padding: 0.3rem 
		ul  
			margin-top: 1.3rem 
			float: right !important 
			margin-right: 0 
			padding-right: 1.5rem
	
	.menu-button 
		display: none   
	
	#diamond-narrow 
		display: none  
		border: none 
		&:after 
			border: none
	
	.main-menu 	
		font-size: 1.2rem !important
		font-weight: normal   
		position: static   

	.hide 
		display: none
	
	.search 
		color: #fff 
		button 
			color: #fff 
			background: none  
			border: none 
			font-size: 1rem
			outline: none
		input  
			width: 0 
			outline: none 
			border: none 
			opacity: 0
			transition: width 0.4s cubic-bezier(0, 0.795, 0, 1) 
			&:focus 
				opacity: 1 
				width: 7.5rem 
				background: rgba( #ffffff, 0.2 ) 
				font-size: 1.1rem 
				padding: 3px 
				color: #fff 
				margin-right: -1.6rem 
	.show-menu 
		opacity: 1 !important  
		transition: 0.3s 
		z-index: 99988 !important  

	#drop-down 
		z-index: -1
		background: rgba($grey, 0.9) 
		width: 95%    
		position: absolute  
		left: 0  
		margin-left: 2.5%
		top: 5.1em   
		margin-top: -2.1rem 
		padding-bottom: 1rem    
		overflow-x: hidden 
		opacity: 1 !important 
		ul 	 
			float: left 
			width: 100%  
			padding: 0 
			margin: 0 
			h4 
				font-size: 1rem 
				// text-transform: none 
	.sub-list 
		display: none

	
	







	



	


