$image-padding: 1.21em

nav	
	background: $grey  
	display: inline-block 
	width: 100% 
	border-top: $image-padding solid #fff
	
	a	
		color: #fff 
		text-decoration: none  
		padding: 1rem  
		font-weight: normal   

	li  
		list-style-type: none 
		@include desktop 
			display: inline-block
		@include tablet 
			display: inline-block

	ul  
		display: inline-block 
		float: right 
		margin-top: 4.7em 
		margin-right: 5em 

	img 
		margin-left: -1em 
		padding: 0 
		height: 100% 
		margin-bottom: -0.35em  
		margin-top: -$image-padding  
		z-index: 500  

#menu 
	display: inline-block 
	float: right

.main-menu 	
	font-size: 1.5em  

.more-items 
	display: none 

#drop-down 
	background: rgba($grey, 0.9) 
	width: 60%    
	position: absolute 
	transition: 0.3s 
	left: 0  
	margin-left: 38%
	top: 5.1em   
	margin-top: 1.51em 
	padding-bottom: 1rem 
	opacity: 0  
	z-index: -40
	ul 	 
		float: left 
		width: 100% 

@include desktop 
	.show-menu 
		opacity: 1 !important  
		transition: 0.3s 
		z-index: 99988 !important  

.line1 
	width: 100%  
	display: block  
	margin-left: 2% 
	ul 
		margin-top: 1px
	div	 
		width: calc( 100% / 4 )    
	
.line2
	width: 100% 
	display: block 
	margin-left: 2%
	ul 
		margin-top: 1px
	div	 
		width: calc( 100% / 4 )     

.nav-col 
	vertical-align: top
	display: inline-block 
	float: left 
	margin: 0

	li 
		display: block  
		font-size: 1rem 
		font-family: $light
	h4	
		font-family: $bold 
		font-weight: bold
		text-transform: uppercase 
		margin-bottom: 7px   
		font-size: 1.3rem 

@include mobile 
	// $image-padding: 

	.menu-button 
		display: inline-block 
		float: right 
		margin-right: 2.5%   
	.menu-active 
		display: block !important
		transition: 0.7s  
	nav  
		max-height: 100px 
		border-top: 0.7em solid #fff
		img 	
			height: 100px 
			margin: 0 
			padding: 0 
			margin-bottom: -0.35em  
			margin-top: -0.79em  
			z-index: 500  
	button 
		margin-top: 2.47em 

	#menu 
		background: rgba($grey, 0.9)  
		width: 50%  
		z-index: 999  
		position: absolute 
		transition: 0.7s 
		left: 0  
		margin-left: 50%
		top: 5.1em   
		margin-top: 1em 
		padding-bottom: 0.1rem  
		display: none  
		padding-top: 1em
		ul
			float: left  
			padding: 0 
			margin: 0  

	#drop-down 
		opacity: 1 
		position: relative 
		background: none  
		padding: 0 
		margin: 0
		div 
			display: block



	.more-items 
		font-size: 0.5em 
		vertical-align: middle 
		padding-left: 3em  
		display: inline-block !important

@include tablet 
	.menu-button 
		display: none

@include desktop 
	.menu-button 
		display: none 







	



	


