/* products */

#product-theme 
	width: 100% 
	padding: 0 
	margin: 0  
	padding-top: 4rem
	padding-bottom: 2rem  
	min-height: 65vh
	
.workstation 
	background: url(../img/products/themes/workstation.png) no-repeat center right 
	background-size: 100%
.storage 
	background: url(../img/products/themes/storage.png) no-repeat center right 
	background-size: 100% 
.tech 
	background: url(../img/products/themes/accesories.png) no-repeat center right 
	background-size: 100% 
.table
	background: url(../img/products/themes/tables.png) no-repeat center right 
	background-size: 100% 
.agile 
	background: url(../img/products/themes/agile.png) no-repeat center right 
	background-size: 100%	
.chair 
	background: url(../img/products/themes/chairs.png) no-repeat center right 
	background-size: 100%  
.joinery 
	background: url(../img/products/themes/joinery.png) no-repeat center right 
	background-size: 100%	

.t-m-heading 
	display: none 
.page-dimensions-m-t 
	display: none 
.mobile-thumbs 
	display: none

#page-padding 
	color: $body-text  
	h1
		font-size: 3rem 
		margin-top: 0 
		margin-bottom: 0 
		font-weight: 100   
		text-transform: uppercase 
	h2
		font-size: 2rem 
		margin-top: 0 
		margin-bottom: 0  
		font-weight: 100   
		text-transform: uppercase
	p 
		font-size: 1.2rem 
		font-weight: lighter  
		width: 95% 
		margin-bottom: 10px  

.breadcrumb 
	padding: 10px 0 10px 0 
	margin-bottom: -65px 
	position: realtive 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif 
	a 
		color: $body-text  

#left-col 
	width: 55%  
	display: inline-block 
	vertical-align: top

.product-text 
	h2 
		padding-bottom: 0.8rem

#right-col 
	width: 44%  
	display: inline-block 
	vertical-align: top   
	line-height: 160%
	li 
		width: 95%  
	p 
		span 
			font-weight: bold 

.product-images 
	width: 780px 
	margin: 0 auto
	ol 
		padding: 0 
		margin: 0 
		li 
			list-style-type: none 
			display: inline-block 
			padding-right: 0.4rem  
			height: 150px 
			vertical-align: top 
			cursor: pointer 
.large-img 
	text-align: center   
	margin: 0 auto 
	// background-color: #bfbfbf 
	max-width: 770px 
	max-height: 450px
	img 
		width: 770px 
		height: 450px 
	button 
		position: relative !important 
		margin-bottom: -2.5rem !important 
		background: none 
		border: none 
		opacity: 0 
		font-size: 2rem 
		color: $light-grey 
		transition: 0.2s 
	&:hover 
		button 
			opacity: 1

.img-thumb 
	margin-top: 0.8rem 
	img 
		box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5)   

.slider-container 
	width: 790px 
	height: 180px 
	position: absolute
	&:after 
		content: ''   

.slider 
	width: 780px 
	height: 180px  
	position: absolute  
	overflow: hidden 
	margin-top: 0.8rem  

.slider .thumbs  
	position: relative 
	width: 1550px
	height: 180px 
	counter-reset: subsection 
	transition: transform 0.7s 
	div 
		width: 250px
		height: 180px 
		margin-right: 0.7rem
		position: relative 
		float: left 
		transition: all 2s
		img  
			max-width: 250px  
			height: auto 
			cursor: pointer
.slider-btn 
	color: #000 
	background: none 
	border: none 
	font-size: 2.5rem 
	outline: none 
	cursor: pointer 
.prev 
	margin-left: -3rem 
	top: 30% 
	position: absolute   
.next 
	left: calc( 100% - 0.5rem ) 
	position: absolute 
	top: 30% 


.prod-features 
	margin-top: 2rem 

.prod-options 
	margin-top: 2rem

.product-list 
	padding: 0 
	margin: 0 
	li 
		list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==')  

.view-more  
	width: 0
	height: 0
	border-left: 10px solid transparent
	border-right: 10px solid transparent
	border-top: 15px solid $body-text 
	display: inline-block   
	float: right  
	margin-top: -30px 
	margin-right: 20px  

.prod-m-title 
	display: none  

.prod-d-title 
	line-height: 110%

.prod-link 
	color: $body-text 

#under-img 
	width: 770px 
	margin: 0 auto 
	position: relative 
	margin-top: 200px 
	div	
		display: inline-block 
		&:nth-of-type(2) 
			float: right 
#under-img-port 
	width: 770px 
	margin: 0 auto 
	position: relative 
	margin-top: 200px 
	div	
		display: inline-block 
		&:nth-of-type(2) 
			float: right

.dimensionTable 
	font-size: 1.1rem
	tr 
		td
			&:first-of-type	
				padding-right: 2rem 
.downloads_list 
	margin: 0 
	padding: 0 
	li
		list-style-type: none
		a 
			color: $body-text   
			font-size: 1.1rem 

//poprtfolio page  
.port-title 
	margin-bottom: 1rem !important 
	padding-left: 0 !important 
	text-align: left !important  

.slider-btn 
	color: $light-grey 
	transition: 0.2s 
	&:hover  
		color: $grey  

@media screen and (max-width: 1600px) 
	
	.product-images 
		width: 700px 
		
	.large-img   
		width: 700px
		img  
			max-width: 700px 
			margin-left: 4.3% 
			max-height: 400px 
	.slider-container 
		width: 790px 
		height: 180px 
		position: absolute  

	.slider 
		width: 700px 
		height: 180px  
		position: absolute  
		overflow: hidden 
		margin-top: 0.8rem 
		margin-left: 4.3%  
	.slider .thumbs  
		position: relative 
		width: 1550px
		height: 180px 
		counter-reset: subsection 
		transition: transform 0.7s 
		div 
			width: 226px
			height: 180px 
			margin-right: 0.7rem
			position: relative 
			float: left 
			transition: all 2s
			img  
				max-width: 226px 
	.prev 
		margin-left: -0.3rem 
		top: 30% 
		position: absolute   
	.next 
		left: calc( 100% - 3rem ) 
		position: absolute 
		top: 30% 

	#page-padding 
		h1 
			font-size: 2.7rem  
		h2 
			font-size: 1.7rem  
		p 
			font-size: 1rem    
	.product-images 
		ol 
			margin-left: 4.3% 	 
	#right-col 
		width: 40% 
		float: right  

@include desktop-sm  
	.product-images 
		width: 700px 

	.large-img   
		width: 700px
		img  
			max-width: 700px 
			margin-left: 4.3% 
			max-height: 400px 
	.slider-container 
		width: 790px 
		height: 180px 
		position: absolute   

	.slider 
		width: 710px 
		height: 180px  
		position: absolute  
		overflow: hidden 
		margin-top: 0.8rem 
		margin-left: 4.3%  
	.slider .thumbs  
		position: relative 
		width: 1550px
		height: 180px 
		counter-reset: subsection 
		transition: transform 0.7s 
		div 
			width: 226px
			height: 180px 
			margin-right: 0.7rem
			position: relative 
			float: left 
			transition: all 2s
			img  
				max-width: 226px 
	.prev 
		margin-left: -0.3rem 
		top: 30% 
		position: absolute   
	.next 
		left: calc( 100% - 3rem ) 
		position: absolute 
		top: 30% 

	#page-padding 
		h1 
			font-size: 2.6rem  
		h2 
			font-size: 1.6rem  
		p 
			font-size: 0.9rem    
	.product-images 
		ol 
			margin-left: 4.3% 

@include navigation-desktop-sm 
	#right-col 
		width: 35% 
		float: right

@include tablet 
	.page-downloads 
		display: none !important
	.breadcrumb
		width: 90% !important
		margin: 0 auto !important 
		margin-bottom: -65px !important 
	.breadcrumb-end 
		display: none
	.edit-btn 
		display: none
	#left-col 
		display: block 
		width: 100% 
		float: none  
		height: auto
		vertical-align: none 
		min-height: initial 
	#right-col 
		display: block   
		width: 80% 
		float: none  
		margin: 0 auto 
		height: auto 
		padding: 0 
		vertical-align: none
		h1 
			display: none
	.workstation 
		background: none
	.storage 
		background: none 
	.tech 
		background: none
	.table
		background: none
	.agile 
		background: none	
	.chair 
		background: none 
	.joinery 
		background: none 
	#product-theme 
		height: auto
	.t-m-heading 
		display: block  
		width: 90%  
		margin: 0 auto 
		margin-bottom: 1.5rem
		h1
			color: #fff 
			margin-left: 0  
	.product-images 
		width: 100%
	.large-img  
		width: 100%
		display: block 
		margin: 0 auto  
		text-align: center  
		height: 400px 
		img 
			margin: 0  
	.port-left 
		min-height: 58vh !important
	.prod-features 
		width: 45%
		display: inline-block 
		vertical-align: top
	.prod-options 
		width: 45%
		display: inline-block 
		vertical-align: top   
	.supplier-name 
		display: none 
	.page-dimensions 
		display: none !important 
	.page-dimensions-m-t 
		display: block  
		width: 45%
		display: inline-block 
		vertical-align: top 
		margin-top: 2rem 
	.page-downloads 
		display: none 
	#under-img-port 
		width: 770px 
		margin: 0 auto 
		position: relative 
		margin-top: none 
		div	
			display: inline-block 
			&:nth-of-type(2) 
				float: right

@include mobile 
	.page-downloads 
		display: none !important
	.breadcrumb
		width: 90% !important
		margin: 0 auto !important 
		margin-bottom: -15px !important
		font-size: 0.9rem 
	.breadcrumb-end 
		display: none
	.slider-container 
		display: none
	.edit-btn 
		display: none
	#left-col 
		display: block 
		width: 100%  
		height: auto
	.product-images 
		width: 90% 
		margin: 0 auto
	.large-img 
		text-align: initial  
		width: 100% 
		text-align: center
		img 
			min-width: 95%
			max-width: 95% 
	.port-left 
		height: auto
	#right-col 
		width: 100%  
		padding: 0  
		float: none 
		h1 
			display: none 
		p 
			width: 95% 
			margin: 0 auto 
			font-size: 0.8rem 
			margin-top: 1rem 
		li 
			font-size: 1rem 
			color: $body-text 
			font-weight: lighter 
		table 
			font-size: 1rem 
			font-weigth: lighter 
			color: $body-text  
	.port-title 
		font-size: 1rem 
	#dispayImg 
		width: 350px !important
		height: auto 
		margin: 0 
	.mobile-thumbs 
		display: block  
		width: 95% 
		margin: 0  auto
	.mobile-img 
		width: calc( 98% / 3 )
		display: inline-block 
		text-align: center 
		img 
			min-width: 100% 
			max-width: 100% 
	.workstation 
		background: none
	.storage 
		background: none 
	.tech 
		background: none
	.table
		background: none
	.agile 
		background: none	
	.chair 
		background: none 
	.joinery 
		background: none 
	#product-theme 
		height: auto  
		padding-top: 1rem
	.t-m-heading 
		display: block    
		margin: 0 auto 
		margin-bottom: 1.5rem
		h1
			color: #fff 
			margin-left: 0  
			padding-left: 1rem  
			font-size: 2rem !important
	.supplier-name 
		display: none 
	.page-dimensions 
		display: none !important  
	.prod-features 
		padding-top: 2rem
		width: 95%
		margin: 0 auto 
	.prod-options 
		width: 95%
		margin: 0 auto  
		padding-top: 2rem
	.supplier-name 
		display: none 
	.page-dimensions 
		display: none !important 
	.page-dimensions-m-t 
		display: block  
		width: 95%
		margin: 0 auto 
		padding-top: 2rem
	.page-downloads 
		display: none  
	#under-img 
		width: 770px 
		margin: 0 auto 
		position: relative 
		margin-top: none 
		div	
			display: inline-block 
			&:nth-of-type(2) 
				float: right 
	#under-img-port 
		width: 770px 
		margin: 0 auto 
		position: relative 
		margin-top: none 
		div	
			display: inline-block 
			&:nth-of-type(2) 
				float: right

@media screen and (max-width: 520px) 
	.mobile-img 
		width: calc( 97% / 3 )
		display: inline-block 
		text-align: center 
		img 
			min-width: 100% 
			max-width: 100% 
	.port-left 
		height: auto



// see more 

.seemore 
	background: none 
	border: none 
	color: $bs-Lblue 
	font-size: inherit  
	transition: 0.1s 
	padding: 0
	&:after 
		content: ' ...' 
	&:hover 
		color: $bs-Dblue 
	&:focus 
		outline: none

//paragraph 

.p-hidden 
	display: none 

.f-hidden 
	display: none 

.o-hidden 
	display: none 

.s-hidden 
	display: none




