#product-theme 
	width: 100% 
	padding: 0 
	margin: 0  
	padding-top: 4rem
	padding-bottom: 2rem  
	min-height: 65vh
	
.workstation 
 	background: url(../img/products/themes/workstation.png) no-repeat center right 
 	background-size: 100%
.storage 
 	background: url(../img/products/themes/storage.png) no-repeat center right 
 	background-size: 100% 
.tech 
 	background: url(../img/products/themes/accesories.png) no-repeat center right 
 	background-size: 100% 
.table
	background: url(../img/products/themes/tables.png) no-repeat center right 
 	background-size: 100% 
.agile 
	background: url(../img/products/themes/agile.png) no-repeat center right 
 	background-size: 100%	
.chair 
 	background: url(../img/products/themes/chairs.png) no-repeat center right 
 	background-size: 100%  
.joinery 
	background: url(../img/products/themes/joinery.png) no-repeat center right 
 	background-size: 100%	

.t-m-heading 
	display: none 
.page-dimensions-m-t 
	display: none 
.mobile-thumbs 
	display: none

#page-padding 
	color: $body-text  
	h1 	
		font-size: 3rem 
		margin-top: 0 
		margin-bottom: 0 
		font-weight: 100   
		text-transform: uppercase 
	h2 	
		font-size: 2rem 
		margin-top: 0 
		margin-bottom: 0  
		font-weight: 100   
		text-transform: uppercase
	p 
		font-size: 1.2rem 
		font-weight: lighter  
		width: 95%

#left-col 
	width: 55%  
	display: inline-block 
	vertical-align: top 
	min-height: 70vh !important 

.product-text 
	h2 
		padding-bottom: 0.8rem

#right-col 
	width: 44%  
	display: inline-block 
	vertical-align: top   
	line-height: 160%
	li 
		width: 95%  



.product-images 
	width: 780px 
	margin: 0 auto
	ol 
		padding: 0 
		margin: 0 
		li 
			list-style-type: none 
			display: inline-block 
			padding-right: 0.4rem  
			height: 150px 
			vertical-align: top 
			cursor: pointer 

.large-img 
	text-align: center   
	margin: 0 auto
	img 
		max-width: 770px 
		height: 450px
	button 
		position: relative !important 
		margin-bottom: -2.5rem !important 
		background: none 
		border: none 
		opacity: 0 
		font-size: 2rem 
		color: $light-grey 
		transition: 0.2s 
	&:hover 
		button 
			opacity: 1

.img-thumb 
	margin-top: 0.8rem 
	img 
		box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5)   

.slider-container 
	width: 790px 
	height: 180px 
	position: absolute   

.slider 
	width: 780px 
	height: 180px  
	position: absolute  
	overflow: hidden 
	margin-top: 0.8rem 

.slider .thumbs  
	position: relative 
	width: 1550px
	height: 180px 
	counter-reset: subsection 
	transition: transform 0.7s 
	div 
		width: 250px
		height: 180px 
		margin-right: 0.7rem
		position: relative 
		float: left 
		transition: all 2s; 
		img  
			max-width: 250px  
			height: auto 
			cursor: pointer
.slider-btn 
	color: #000 
	background: none 
	border: none 
	font-size: 2.5rem 
	outline: none 
	cursor: pointer 
.prev 
	margin-left: -3rem 
	top: 30% 
	position: absolute   
.next 
	left: calc( 100% - 0.5rem ) 
	position: absolute 
	top: 30% 


.prod-features 
	margin-top: 2rem 

.prod-options 
	margin-top: 2rem



.product-list 
	padding: 0 
	margin: 0 
	li 
		list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==')  

.view-more  
	width: 0
	height: 0
	border-left: 10px solid transparent
	border-right: 10px solid transparent
	border-top: 15px solid $body-text 
	display: inline-block   
	float: right  
	margin-top: -30px 
	margin-right: 20px  

.prod-m-title 
	display: none  

.prod-d-title 
	line-height: 110%

.prod-link 
	color: $body-text 

#under-img 
	width: 770px 
	margin: 0 auto 
	position: relative 
	margin-top: 200px 
	div	
		display: inline-block 
		&:nth-of-type(2) 
			float: right 
.dimensionTable 
	font-size: 1.1rem
	tr 
		td 	
			&:first-of-type	
				padding-right: 2rem 
.downloads_list 
	margin: 0 
	padding: 0 
	a 
		color: $body-text   
		font-size: 1.1rem

@include mobile  	
	.slider-container 
		display: none
	.edit-btn 
		display: none
	#left-col 
		display: block 
		width: 100% 
	#right-col 
		width: 100% !important 
		padding: 0  !important 
		float: none !important  
		margin-top: -12rem !important 
		h1 
			display: none 
		p 
			width: 95% 
			margin: 0 auto
	#dispayImg 
		width: 350px !important
		height: auto 
		margin: 0 
	.mobile-thumbs 
		display: block  
		margin-top: 1rem 
	.mobile-img 
		width: 49%; 
		display: inline-block 
		text-align: center 
		img 
			width: 150px 
			height: auto
	.product-images 
		width: 350px 
		margin: 0 auto 
	.workstation 
	 	background: none
	.storage 
	 	background: none 
	.tech 
	 	background: none
	.table
		background: none
	.agile 
		background: none	
	.chair 
	 	background: none 
	.joinery 
		background: none 
	#product-theme 
		height: auto !important 
	.t-m-heading 
		display: block    
		margin: 0 auto 
		margin-bottom: 1.5rem
		h1
			color: #fff 
			margin-left: 0  
	.supplier-name 
		display: none 
	.page-dimensions 
		display: none !important  
	.prod-features 
		padding-top: 2rem
		width: 95%
		margin: 0 auto 
	.prod-options 
		width: 95%
		margin: 0 auto  
		padding-top: 2rem
	.supplier-name 
		display: none 
	.page-dimensions 
		display: none !important 
	.page-dimensions-m-t 
		display: block  
		width: 95%
		margin: 0 auto 
		padding-top: 2rem
	.page-downloads 
		display: none 

@media screen and (max-width: 400px) 
	#left-col 
		width: 90% 
		display: block  
		margin: 0 auto 
		text-align: left
	#right-col 
		width: 90% 
		display: block  
		margin: 0 auto
		vertical-align: bottom 
		margin-top: 3rem 
	.product-images
		ol 
			display: none

@include desktop-sm  
	.product-images 
		width: 700px 
		
	.large-img   
		width: 700px
		img  
			maxwidth: 700px 
			margin-left: 4.3% 
			max-height: 400px 
	.slider-container 
		width: 790px 
		height: 180px 
		position: absolute  

	.slider 
		width: 710px 
		height: 180px  
		position: absolute  
		overflow: hidden 
		margin-top: 0.8rem 
		margin-left: 4.3%  
	.slider .thumbs  
		position: relative 
		width: 1550px
		height: 180px 
		counter-reset: subsection 
		transition: transform 0.7s 
		div 
			width: 226px
			height: 180px 
			margin-right: 0.7rem
			position: relative 
			float: left 
			transition: all 2s; 
			img  
				max-width: 226px 
	.prev 
		margin-left: -0.3rem 
		top: 30% 
		position: absolute   
	.next 
		left: calc( 100% - 3rem ) 
		position: absolute 
		top: 30% 

	#page-padding 
		h1 
			font-size: 2.8rem  
		h2 
			font-size: 1.8rem  
		p 
			font-size: 1.1rem    
	.product-images 
		ol 
			margin-left: 4.3% 
@include navigation-desktop-sm 
	#page-padding 
		h1 
			font-size: 2.8rem  
		h2 
			font-size: 1.8rem  
		p 
			font-size: 1.1rem 	
			// width: 85% 
	#right-col 
		width: 35% 
		float: right

@include tablet 
	.edit-btn 
		display: none
	#left-col 
		display: block 
		width: 100% 
		// height: auto  
	#right-col 
		display: block  
		padding-left: 3rem 
		width: 80% 
		margin: 0 auto 
		padding-top: 2rem  
		// height: auto 
		float: none   
		h1 
			display: none
	.workstation 
	 	background: none
	.storage 
	 	background: none 
	.tech 
	 	background: none
	.table
		background: none
	.agile 
		background: none	
	.chair 
	 	background: none 
	.joinery 
		background: none 
	#product-theme 
		height: auto !important 
	.t-m-heading 
		display: block  
		width: 90%  
		margin: 0 auto 
		margin-bottom: 1.5rem
		h1
			color: #fff 
			margin-left: 0 
	.prod-features 
		width: 45%
		display: inline-block 
		vertical-align: top
	.prod-options 
		width: 45%
		display: inline-block 
		vertical-align: top   
	.supplier-name 
		display: none 
	.page-dimensions 
		display: none !important 
	.page-dimensions-m-t 
		display: block  
		width: 45%
		display: inline-block 
		vertical-align: top 
		margin-top: 2rem 
	.page-downloads 
		display: none 

//poprtfolio page  
.port-title 
	margin-bottom: 1rem !important 
	padding-left: 0 !important 
	text-align: left !important



