.diamond 
	display: none 

#work-stations 
	display: inline-block 
	vertical-align: middle 

#agile 
	display: inline-block 
	vertical-align: middle 

#joinery 
	display: inline-block 
	vertical-align: middle 
	left: 0