.products-grid 
	margin-top: 4rem  
	text-align: right 
	position: static 
	padding-bottom: 4% //temp 

.productsP-title 
	text-align: left 
	h1 
		font-size:  4.5rem 
		font-weight: 100  
		margin-bottom: 0 
		color: #404040  
		margin-left: 2rem 
		text-transform: uppercase
	h3 
		font-size: 1.5rem 
		font-weight: 100 
		margin-top: 0 
		color: #828282 

.diamond  
	cursor: pointer 

@include desktop 
	.workstations-dia 
		display: inline-block 
		vertical-align: middle 
		img 
			width: 488px
			transition: 0.3s   
			&:nth-of-type(2)
				display: block 
				position: relative 
				margin-top: -496px 
				opacity: 0
		&:hover  
			img 
				transform: scale(1.02) 
			img 
				&:nth-of-type(2) 
					opacity: 1
	.agile-dia 
		display: inline-block 
		vertical-align: middle  
		img 
			width: 577px
			transition: 0.3s  
			&:nth-of-type(2)
				display: block 
				position: relative 
				margin-top: -583px 
				opacity: 0
		&:hover  
			img 
				transform: scale(1.02) 
			img 
				&:nth-of-type(2) 
					opacity: 1 
	.joinery-dia 
		display: inline-block 
		vertical-align: middle 
		transition: 0.3s  
		img 
			width: 477px
			transition: 0.3s  
			&:nth-of-type(2)
				display: block 
				position: relative 
				margin-top: -960px 
				opacity: 0
		&:hover  
			img 
				transform: scale(1.02)  
				&:nth-of-type(2)
					opacity: 1 
	.storage-dia 
		text-align: left
		margin-left: 43rem 
		margin-top: -28.5rem
		img 
			width: 340px
			transition: 0.3s  
			&:nth-of-type(2)
				margin-left: -346px 
				position: relative 
				opacity: 0 
		&:hover  
			img 
				transform: scale(1.02) 
				&:nth-of-type(2) 
					opacity: 1 
	.chair-dia 
		position: relative
		text-align: left 
		margin-left: 75rem 
		margin-top: -54.5rem
		img 
			width: 483px
			transition: 0.3s  
			&:nth-of-type(2) 
				margin-left: -487px	 
				opacity: 0 
				position: relative  
		&:hover
			img
				transform: scale(1.02) 
				&:nth-of-type(2) 
					opacity: 1 

	.table-dia 
		text-align: left 
		margin-left: 75rem 
		margin-top: 2rem 
		img 
			width: 482px
			transition: 0.3s 
			&:nth-of-type(2) 
				margin-left: -485px  
				opacity: 0 
		&:hover  
			img 
				transform: scale(1.02) 
				&:nth-of-type(2) 
					opacity: 1
	.tech-dia  
		text-align: left 
		margin-left: 65.5rem 
		margin-top: -14.5rem 
		img 
			width: 300px
			transition: 0.3s 
			&:nth-of-type(2) 
				position: relative 
				margin-left: -304px 
				opacity: 0  
		&:hover 
			img  
				transform: scale(1.02) 
				&:nth-of-type(2) 
					opacity: 1 	

@include desktop-sm 
	.workstations-dia 
		display: inline-block 
		vertical-align: middle 
		img 
			transition: 0.3s 
			width: 386px  
			&:nth-of-type(2)
				display: block 
				position: relative 
				margin-top: -393px 
				opacity: 0
		&:hover  
			img 
				transform: scale(1.02) 
			img 
				&:nth-of-type(2) 
					opacity: 1
	.agile-dia 
		display: inline-block 
		vertical-align: middle  
		img 
			width: 477px
			transition: 0.3s  
			&:nth-of-type(2)
				display: block 
				position: relative 
				margin-top: -483px 
				opacity: 0
		&:hover  
			img 
				transform: scale(1.02) 
			img 
				&:nth-of-type(2) 
					opacity: 1 
	.joinery-dia 
		display: inline-block 
		vertical-align: middle 
		transition: 0.3s  
		img 
			width: 377px
			transition: 0.3s  
			&:nth-of-type(2)
				display: block 
				position: relative 
				margin-top: -760px 
				opacity: 0
		&:hover  
			img 
				transform: scale(1.02)  
				&:nth-of-type(2)
					opacity: 1 
	.storage-dia 
		text-align: left
		margin-left: 28.59rem 
		margin-top: -23rem
		img 
			width: 244px
			transition: 0.3s  
			&:nth-of-type(2)
				margin-left: -249px 
				position: relative 
				opacity: 0 
		&:hover  
			img 
				transform: scale(1.02) 
				&:nth-of-type(2) 
					opacity: 1 
	.chair-dia 
		position: relative
		text-align: left 
		margin-left: 54.4rem 
		margin-top: -41rem
		img 
			width: 383px
			transition: 0.3s  
			&:nth-of-type(2) 
				margin-left: -387px	 
				opacity: 0 
				position: relative  
		&:hover
			img 
				transform: scale(1.02) 
				&:nth-of-type(2) 
					opacity: 1 

	.table-dia 
		text-align: left 
		margin-left: 54.4rem 
		margin-top: 2rem 
		img 
			width: 381px
			transition: 0.3s 
			&:nth-of-type(2) 
				margin-left: -385px  
				opacity: 0 
		&:hover  
			img 
				transform: scale(1.02) 
				&:nth-of-type(2) 
					opacity: 1
	.tech-dia  
		text-align: left 
		margin-left: 46.3rem 
		margin-top: -11.9rem 
		img 
			width: 241px
			transition: 0.3s 
			&:nth-of-type(2) 
				position: relative 
				margin-left: -245px 
				opacity: 0  
		&:hover 
			img  
				transform: scale(1.02) 
				&:nth-of-type(2) 
					opacity: 1 
















