#product-theme 
	width: 100% 
	padding: 0 
	margin: 0  
	padding-top: 4rem
	padding-bottom: 2rem  
	
.chair 
 	background: url(../img/products/themes/chairs.png) no-repeat center right 
 	background-size: 100% 

.workstation 
 	background: url(../img/products/themes/workstation.png) no-repeat center right 
 	background-size: 100%

.screen 
 	background: url(../img/products/themes/workstation.png) no-repeat center right 
 	background-size: 100%

#page-padding 
	color: $body-text  
	// max-height: 900px
	h1 	
		font-size: 3rem 
		margin-top: 0 
		margin-bottom: 0 
		margin-left: -1.5rem  
		font-weight: 100   
		text-transform: uppercase 
	h2 	
		font-size: 2rem 
		margin-top: 0 
		margin-bottom: 0  
		font-weight: 100   
		text-transform: uppercase
	p 
		font-size: 1.2rem 
		font-weight: lighter  
		width: 95%

#left-col 
	width: 55%  
	display: inline-block 
	vertical-align: top 

#right-col 
	width: 44%  
	display: inline-block 
	vertical-align: top  
	li 
		width: 95%


.product-images 
	width: 780px 
	margin: 0 auto
	ol 
		padding: 0 
		margin: 0 
		li 
			list-style-type: none 
			display: inline-block 
			padding-right: 0.4rem  
			height: 150px 
			vertical-align: top 
			cursor: pointer 
		button 
			background: none 
			border: none  
			font-size: 3rem   
			height: 100%  

.img-thumb 
	margin-top: 0.8rem  

.large-img
	img 
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5)

.arrow-off 
	display: none !important 

.prod-features 
	margin-top: 2rem 

.prod-options 
	margin-top: 2rem



.product-list 
	padding: 0 
	margin: 0 
	li 
		list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==') 


.view-more  
	width: 0
	height: 0
	border-left: 10px solid transparent
	border-right: 10px solid transparent
	border-top: 15px solid $body-text 
	display: inline-block   
	float: right  
	margin-top: -30px 
	margin-right: 20px 

@include mobile  	
	#left-col 
		width: 80% 
		display: block  
		// margin: 0 auto 
		margin-left: 7% 
		margin-right: 14% 
	#right-col 
		width: 90% 
		display: block  
		margin: 0 auto
		vertical-align: bottom 
		margin-top: 3rem 

	.large-img 
		img 
			width: 670px  
			height: 300px 

	.product-images  
		width: 680px 
		margin-right: 0 
		li 
			img 
				width: 215px  
				height: 115px 

@include desktop-sm  
	.large-img   
		// background: red
		img  
			width: 700px 
			margin-left: 4.3% 
	.img-thumb 
		img 
			width: 225px 

	#page-padding 
		h1 
			font-size: 2.8rem  
			margin-left: -1.3rem
		h2 
			font-size: 1.8rem  
		p 
			font-size: 1.1rem  
	.product-images 
		ol 
			margin-left: 4.3%


