section 
	width: 90% 
	margin: 0 auto  
	// background: orange 
	margin-top: 2rem

figure 
	width: calc(100% / 5 ) 
	float: left  
	padding-bottom: 1.5rem 
	img
		width: 98%
		vertical-align: middle 
		transition: 0.3s 
		text-align: center 
	p 
		text-align: center  
		font-size: 1.7rem  
		margin: 0 auto 
		padding-top: 1rem
	a 
		color: $grey 
		text-decoration: none 
		text-align: center

.download-img 
	text-align: center 
	position: static 

.download-text 
	font-size: 4rem 
	color: $grey 
	margin-bottom: -15rem  
	margin-left: 28rem 
	position: relative


@include desktop-sm  
	figure 
		width: calc( 98% / 3 )  


@include tablet 
	figure 
		width: calc( 100% / 4.5 )  
		p 
			font-size: 1rem

@include mobile 
	section 
		margin-left: 5rem
	figure 
		width: calc( 100% / 4 )  
		p 
			font-size: 1rem