// @font-face 
// 	font-family: "TradeGothicStd" 
// 	src: url('../fonts/TradeGothicLTStd.otf') 
// @font-face 
// 	font-family: "TradeGothicLight" 
// 	src: url('../fonts/TradeGothicLTStd-Light.otf') 
// @font-face 
// 	font-family: "TradeGothicBold" 
// 	src: url('../fonts/TradeGothicLTStd-BoldExt.otf') 
// @font-face 
// 	font-family: "TradeGothicItalic" 
// 	src: url('../fonts/TradeGothicLTStd-Cn18Obl.otf') 
// @font-face 
// 	font-family: "TradeGothicBI" 
// 	src: url('../fonts/TradeGothicLTStd-BoldObl.otf') 

@mixin mobile 
	@media screen and(min-width: 320px) and(max-width: 767px)
		@content 

@mixin tablet 
	@media screen and(min-width: 768px) and(max-width: 979px) 
		@content 

@mixin desktop 
	@media screen and(min-width: 960px)
		@content  

@mixin desktop-sm 
	@media screen and(max-width: 1390px) 
		@content 
@mixin desktop-xsm 
	@media screen and (max-width: 1200px) 
		@content

$normal: Arial, "Helvetica Neue", Helvetica, sans-serif 
$light: "Arial Narrow", Arial, sans-serif 
$bold: Arial, "Helvetica Neue", Helvetica, sans-serif
$italic: Arial, "Helvetica Neue", Helvetica, sans-serif
$bold-italic: Arial, "Helvetica Neue", Helvetica, sans-serif
html
	margin: 0 
	padding: 0 
	background: #fff

body 
	margin: 0 
	padding: 0 
	font-family: $normal  
	background: #fff  

.cf 
	&:before, 
	&:after 
		content: "" 
		display: table 
	&:after 
		clear: both
	