@font-face {
  font-family: "TradeGothicStd";
  src: url("../fonts/TradeGothicLTStd.otf"); }

@font-face {
  font-family: "TradeGothicLight";
  src: url("../fonts/TradeGothicLTStd-Light.otf"); }

@font-face {
  font-family: "TradeGothicBold";
  src: url("../fonts/TradeGothicLTStd-BoldExt.otf"); }

@font-face {
  font-family: "TradeGothicItalic";
  src: url("../fonts/TradeGothicLTStd-Cn18Obl.otf"); }

@font-face {
  font-family: "TradeGothicBI";
  src: url("../fonts/TradeGothicLTStd-BoldObl.otf"); }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "TradeGothicStd", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

#top-navigation {
  background: #424242; }
  #top-navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 1rem;
    font-weight: normal; }
  #top-navigation li {
    list-style-type: none;
    display: inline-block; }
  #top-navigation ul {
    float: right;
    margin-right: 3rem;
    vertical-align: bottom;
    margin-top: 3rem; }

#drop-down {
  background: rgba(66, 66, 66, 0.8);
  width: 77%;
  padding: 1em;
  margin-left: 20vw;
  z-index: 999;
  display: none;
  position: absolute;
  transition: 0.7s; }
  #drop-down a {
    color: #fff;
    text-decoration: none;
    font-family: "TradeGothicLight", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #drop-down li {
    list-style-type: none; }
  #drop-down h4 {
    text-transform: uppercase;
    margin-bottom: 7px; }
    #drop-down h4 a {
      font-family: "TradeGothicBold", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold; }

.line1 {
  display: block;
  width: 99%;
  margin: 0 auto; }
  .line1 div {
    width: calc( 98% / 4);
    display: inline-block;
    vertical-align: top; }

.line2 {
  display: block;
  width: 99%;
  margin: 0 auto; }
  .line2 div {
    width: calc( 98% / 4);
    display: inline-block;
    vertical-align: top; }

ul {
  margin: 0;
  padding: 0; }

#page-content {
  z-index: 0;
  position: absolute; }
