.sustainability-page 
	background: url(../img/sustainability/background.png) no-repeat center right 
 	background-size: 100%
.sustainability-grid 
	margin-top: 5rem 
	margin-left: 25rem
.top-img 
	display: inline-block  
	margin-left: 5rem 
.bottom-img 
	display: inline-block 
	margin-left: 20rem

.tri1 
	vertical-align: top 
.material 
	// vertical-align: middle
	img 
		position: relative
		margin-left: -6rem 
		margin-top: -2rem 
.smart 
	img 
		margin-left: -19rem 

.tri2 
	vertical-align: top  
	position: relative 
	margin-left: -14.3rem   
	margin-top: 0.3rem
.recycle 
	margin-top: 0.5rem 

.sus-text 
	h1 
		font-size: 3rem 
		font-weight: 100 
		text-transform: uppercase  
		margin-bottom: 0  
		color: #404040 
	h2 
		font-size: 2.15rem 
		font-weight: 100 
		text-transform: uppercase  
		margin-top: 0 
		color: #7f7f7f 
	p 
		font-size: 1.6rem  
		color: #737373 
		margin-top: 1.5rem 
	position: relative  
	margin-top: -25rem 
	margin-left: 10rem