.portfolio  
	margin-left: 7.9em
	padding-top: 1em 
	position: relative
	img 
		width: +35% 
		transition: 0.3s 

.statment1 
	font-size: 5em  
	text-transform: uppercase  
	color: $grey
	margin-left: 8em 
	position: relative 
	z-index: 400   
	margin-top: -19rem
	padding-bottom: 1rem
	
	span	 
		font-family: $bold 
		font-weight: bold 
		font-size: 5.5rem

	
.products 
	margin-top: -21em 
	margin-left: 4em 
	position: relative 
	
	img
		width: 30% 

.about 
	margin-left: 27.5em 
	position: relative 
	margin-top: -4.7em  

.statment2 
	margin-left: 19em 
	font-size: 2.8rem 
	margin-top: -8em 
	z-index: 400 
	color: $grey

.sustainability 
	margin-left: 20.5em 

.statment-img 
	margin-left: 21em
	margin-top: -19.5em 
	margin-bottom: -0.38em  

.statement3 
	font-size: 5.5em    
	color: $grey 
	position: relative 
	z-index: 400   
	margin-top: -25rem
	margin-left: 10.5em 
	margin-bottom: 0
	span	 
		font-family: $bold 
		font-weight: bold 
		font-size: 5.8rem  
	p 
		margin-bottom: 0 

.tri 
	z-index: 399