.homebg
	background: url(../img/home/background.png) no-repeat center right 
 	background-size: 100%  
 	padding-bottom: 3rem !important
.top 
	margin-top: 1rem
.mission-statement 
	display: inline-block 
	position: relative  
	margin-left: -9rem 
	vertical-align: top 
	margin-top: 15rem
	h2 
		text-transform: uppercase  
		color: #3b3b3b 
		margin: 0 
		font-size: 4rem 
		font-weight: lighter
	h3 
		text-transform: uppercase 
		color: #a3a3a3
		margin: 0 
		font-size: 3rem 
		font-weight: 100 
	p 
		font-size: 1.8rem 
		margin: 3px 0 0 0 
		color: #989898 
		font-weight: 100   

.portfolio  
	display: inline-block   
	margin-left: 3rem
	img 
		width: 934px 
		position: static

.bottom 
	div  
		display: inline-block 

.our-story 
	vertical-align: top 
	margin-right: -3rem 
	margin-left: 0.8rem  
	img 
		width: 478px

.product  
	margin-left: -25rem  
	position: relative
	img  
		width: 934px  

.sustainability  
	vertical-align: top 
	margin-left: -27.8rem 
	vertical-align: top  
.susimg
	width: 742px

.dwnimg 
	margin-left: -22.5rem 

.homeLink 
	transition: 0.3s 
	&:hover  
		cursor: pointer
		transform: scale(1.02)

