.portfolio
	margin-top: 1rem 
	margin-left: 8rem 
	position: static  
	z-index: 9  
	span 
		position: absolute  
		z-index: 90 
		font-size: 4rem 
		margin-left: -24.5rem 
		margin-top: 9rem 
		text-align: center 
		float: left  
		color: #fff 
		font-family: $light

.statement1  
	position: relative  
	margin-left: 35rem 
	margin-top: -18rem 
	padding: 0 
	font-size: 2.5rem
	text-transform: uppercase  
	color: $grey
	span	
		font-family: $bold  
		font-size: 6rem

.about-us 
	margin-left: 25.7rem 
	position: static 
	display: inline-block 
	vertical-align: top  
	z-index: 9  
	span 
		position: absolute 
		z-index: 90 
		text-align: center  
		font-size: 2.5rem 
		float: left  
		margin-top: -13.5rem 
		margin-left: 7rem 
		font-family: $light
		color: #fff

.statement2 
	display: inline-block 
	font-size: 3rem  
	color: $grey  
	position: static
	padding-left: 3rem 
@include desktop-sm  
	.statement2
		font-size: 2rem  
@include desktop-xsm 
	.statement2 
		font-size: 1rem 
@include tablet  
	.statement2 
		display: none

.products 
	position: relative  
	margin-top: -28.5rem 
	margin-left: 1rem 
	width: 18rem    
	span  
		position: absolute 
		z-index: 90 
		text-align: center  
		font-size: 4.5rem 
		margin-top: -11.5rem 
		margin-left: 8.8rem 
		color: #fff

.sustainability 
	margin-left: 18rem   
	span 
		position: absolute  
		z-index: 90 
		text-align: center 
		font-size: 2.7rem 
		float: left 
		margin-left: -22rem 
		margin-top: 5.5rem 
		color: #fff 
		font-family: $light 
		letter-spacing: 2px;

.bottom-tri 
	margin-left: 18.7rem 
	margin-top: -19.5rem 
	margin-bottom: -0.35rem  
	display: inline-block 
	position: static  
	z-index: 200

.statement3 
	position: relative  
	font-size: 3rem  
	color: $grey 
	display: inline-block 
	z-index: 203  
	margin-left: -12rem  
	vertical-align: top
	span	
		font-family: $bold  
		font-size: 6rem 
	margin-bottom: -7rem   

.category  
	cursor: pointer 
	opacity: 0 
	transition: 0.3s !important 
	&:hover  
		transform: scale(1.03) 
		// overflow: hidden  

.category-in  
	opacity: 1 !important 
	-webkit-animation: imageload 900ms ease-in none
	animation: imageload 900ms ease-in none 
	transition: 0.3s !important 
 

  
