config.codekit3 
working/config.codekit3
working/fonts/ 
working/design.pdf 
montage/laravel/node_modules
montage/laravel/public/hot
montage/laravel/public/storage
montage/laravel/storage/*.key
montage/laravel/vendor
montage/laravel/.idea
montage/laravel/.vagrant
montage/laravelHomestead.json
montage/laravelHomestead.yaml
montage/laravelnpm-debug.log
montage/laravelyarn-error.log
montage/laravel.env
